h1 {text-align: center;}

a:hover {
    opacity: 20%;
    text-decoration: none;
  }

   body { 
    background-image: url('https://cdn.wallpapersafari.com/70/51/pP2NZm.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
       
   min-height: 400px;
   margin-bottom: 100px;
   clear: both;
  }
 
  
  .navbarTogglerDemo02 {
    text-align: right;
  }
  
  .fa{
    border-radius: 50%;
    text-decoration: none;
    margin-right: 5px;
  }
  
  .fa-facebook{
  background-color: #3b5998;
  color: white;
  padding: 8px 13px 8px 13px;
  }
  
  .fa-twitter {
    background-color: black;
    color: white;
    padding: 8px 10px 8px 10px;
  
  }
  
 
  .fa-linkedin{
    background-color: #0e76a8;
    color: white;
    padding: 8px 10px 8px 10px;
  }
  
  footer {
    text-align: center;
    padding: 0px;
    background-color: rgb(130, 205, 235);
    color: white;
  }
